{% extends 'base.html' %}
{% block title%}
    About Page
{% endblock title %}
{% block content %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in" style="color: darkblue;">
      <div class="container">
        <h2>About Us</h2>
        <p1>Smart-Writers is an online academic writing and consulting company. Since 2021, we have worked to ensure the highest 
          quality standards of service and offer a stable income for aspiring academic writers. We value our employees, ensure career growth, 
          provide various rewards programs, and 24/7 support. Our company was founded in 2006, when academic writing organizations just started 
          to emerge. Since that time, we have grown from a small startup into a considerable enterprise. Our care for writers, aspiration for constant perfection, 
          and focus on developing trustworthy relations are what make UVOCORP the best workplace for freelance writers from all over the world.</p1>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="fst-italic">
              Our company’s long-term goal is to become the quality standard in the market of custom academic writing services. In particular, we strive for:

    Development of high-quality products
    Writing authentic, non-plagiarized papers
    Timely delivery of customers’ orders
    Providing our writers with a variety of options for professional development
    Creating a positive public image.

We seek to gain our writers’ support in achieving these goals through teamwork. We also aspire to maintain the win-win system of responsibilities between the company and the freelancers’ team. Such a close partnership helps UVOCORP maintain the top position among the world enterprises.

Our company appreciates its employees and values our continued partnership through understanding and following the common principles of the company. Our progress is demonstrated through:

    Innovation
    Collaboration
    Mutual respect
    Development
    Quality.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>

          </div>
        </div>

      </div>
</main>
<style>
  body {
    background-image: url('static/images/about.jpg');
    background-size: cover;

  }
</style>

{% endblock content %}