{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock title %}
{% block content %}
<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">Smart Writers</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your email address & password to login</p>
                  </div>

                  <div class="content-section">
                    <form method="post" action="">
                      {{ form.hidden_tag()}}
                      <fieldset class="form-group">
                        <div class="form-group">
                          {{ form.email_address.label(class="form-control-label") }}
                          {{ form.email_address(class="form-control form-control-lg")}}
                        </div>
                        <div class="form-group">
                          {{ form.password.label(class="form-control-label") }}
                          {{ form.password(class="form-control form-control-lg")}}
                        </div>

                      </fieldset>
                      <br>
                      <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                      </div>
                      <small class="text-muted ml-2">
                        <a href="#">Forgot Password?</a>
                      </small>
                    </form>
                  </div>
                  <div class="border-top pt-3">
                    <small class="text-muted">
                      Need an account? <a class="ml-2" href="{{ url_for('register_page') }}">Sign Up</a>

                    </small>

                  </div>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
{% endblock content %}