<!-- Assignment Table Column -->
<div class="col-10">
    <h4>Available Orders</h4>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Order id</th>
                    <th scope="col">Word count</th>
                    <th scope="col">Pages</th>
                    <th scope="col">Assignment type</th>
                    <th scope="col">Academic level</th>
                    <th scope="col">Price (ksh)</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for item in assignments %}
                {% include 'includes/assignment_modal.html' %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.subject }}</td>
                        <td>{{ item.order_id }}</td>
                        <td>{{ item.word_count }}</td>
                        <td>{{ item.pages }}</td>
                        <td>{{ item.assignment_type }}</td>
                        <td>{{ item.academic_level }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.deadline }}</td>
                        <td>
                            <a href="{{ url_for('order_detail', assignment_id=item.id) }}" class="btn btn-outline btn-info" data-bs-toggle="modal" data-bs-target="{{ url_for('order_detail', assignment_id=item.id) }}" >More Info</a>
                            <a href="{{ url_for('order_detail', assignment_id=item.id) }}" class="btn btn-outline btn-success" data-bs-toggle="modal" data-bs-target="#Modal-TakeConfirm-{{ item.id }}">Take order</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    <style>
        body {
            background-color: #212121;
            color: white;
        }
    </style>
</div>
</div>